<!doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VidSync | Register</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <div class="header">
    <%- include('../partials/guest_navbar');%>
</div>

<div class="container card register">
    <h3>Register</h3>
    <form id="registerForm">
        <div class="alert"></div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="con_password">Confirm Password</label>
            <input type="password" class="form-control" id="con_password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        <a href="/login">Already a User? Login </a>
    </form>
    </div>

    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        $('#registerForm').submit(function (e) {
            e.preventDefault();
            console.log('submitted');
            // validate inputs
            const email = $('#email').val();
            const username = $('#username').val();
            const password = $('#password').val();
            const con_password = $('#con_password').val();
            if (!username || !password || !con_password || !email) {
                $('.alert').removeClass('alert-success').addClass('alert-warning').text('Please fill all Fields');
            }else{
                axios.post('/register', {
                    email,
                    username,
                    password,
                    con_password
                }).then(function (res) {
                    console.log(res);
                    $('.alert').removeClass('alert-warning').addClass('alert-success').text(res.data.message);
                    setTimeout(() => {
                        window.location.href = "/login";
                    }, 2000)
                }).catch(function (error) {
                    console.log('error', error.response.data);
                    $('.alert').removeClass('alert-success').addClass('alert-warning').text(error.response.data.message);
                })
            }
        })
    </script>
    </body>
    </html>
